<div class="option" id="option_fields_<%= f.index %>">

  <div class="title-option" id="height_<%= f.index %>">

    <div class="index-option">
      <p><%= (f.index).to_i + 1 %></p>
    </div>

    <div class="titre-option">
      <%= f.input :titre, label: false %>

      <div class="column-3-left text-center">

      </div>
      <div class="preview">
        <img id="img_prev_<%= f.index %>" src="#" alt="your image" class="img-thumbnail hidden thumbnail"/> <br/>
      </div>
        <%= f.input :photo, input_html: { class: 'picture hidden', :data => { indeximg: f.index } }, label: false %>
        <%= f.input :photo_cache, as: :hidden, input_html: { class: 'photocache' } %>
        <%= f.input :_destroy, as: :boolean, :label => "Supprimer l'option", input_html: { class: 'hide remove', data: { index: f.index } }, label: false %>

    </div>
                   <i class="fa fa-camera" data-index="<%= f.index %>"></i>
    <div class="delete-option">
      <i class="fa fa-trash" data-trash="<%= f.index %>"></i>
    </div>
  </div>

</div>
