<% @questions.each do |question| %>
  <div class="question-card" data-deadline="<%= question.deadline %>">

    <div class="question-card <%= question.status %>">
      <div class="question-card-content">
        <span><p class="categorie"><%= question.category.name.upcase %></p></span>
        <%=  %>
        <% diff = TimeDifference.between(DateTime.now, question.deadline)%>
        <% countdown = diff.in_general %>
        <span><p class="deadline">
          <% if DateTime.now.in_time_zone < question.deadline %>
          Plus que
            <%= compute_countdown(countdown) %>
          <% else %>
            OVER
          <%end%>
          </p></span>
        <h4><%= question.description%></h4>

      </div>
    <%= link_to "", question_path(question), class: 'card-link' %>
  </div>
  </div>
<% end %>
