<div class="container">
  <h1>Indécision</h1>
  <%= simple_form_for [@user, @question] do |f| %>
    <%= f.input :description %>
    <%= f.input :deadline %>
    <%= f.input :categorie %>
    <%= f.input :type_resolution %>
    <%= f.submit "Update indécision", class: "btn btn-success" %>
  <% end %>
</div>
