<div id="notifications">
</div>


<!--  On itere sur les différentes catégorie -->
<div class="categories-cards">
  <% Category.all.each do |category| %>
      <!--  Chaque itération est une card et a une classe -->
      <div class="category-card" style="background-image: url(<%= category.photo %>); background-size: cover;">
        <span class="category-text"><%= category.name %></span>
        <%= link_to "", questions_path(query: "#{category.name}"), class: 'category-card-link' %>
      </div>
  <% end %>
</div>

<div class="bg-light">
  <div class="container">


    <div class="row">
      <div class="col-6">
        <p class="sortby">Trier par
          <%= link_to "Date de création", questions_path(query: "created_at") %> |
          <%= link_to "Urgence", questions_path(query: "deadline") %> |
          <%= link_to "Populaire", questions_path(query: "populaire") %>
        </p>
        <div class="questions">
          <%= render "questions/question_cards" %>
        </div>
      </div>
    </div>

  </div>
</div>
