<div id="notifications">
</div>


<div class="banner" style="background-image: linear-gradient(-180deg, rgba(227, 66, 104,0.5) 0%, rgba(227, 66, 104,0.5) 90%), url('https://www.aht.li/3278529/banner.jpg');">
  <div class="banner-content" style="margin-top:6em;">
    <h5>Prends des décisions<br/>pour des inconnus...
  </h5>
  <h6>Et deviens l'Héliaste ultime !</h6>
   </div>
</div>

<div class="bg-light">
  <div class="container">
    <div class="tabs">
      <div class="category-card responsive-tab">
        <span id="all" class="tab">Tout</span>
        <%= link_to "", questions_path, class: 'category-card-link' %>
      </div>
      <% Category.all.each do |category| %>
          <!--  Chaque itération est une card et a une classe -->
          <div class="category-card responsive-tab">
            <% if category != nil %>
              <% if category.name == "Culture" %>
                <%= image_tag "badge-13.png", width: 40, class: 'tab', data: { type: category.name } %>
              <% elsif category.name == "Achats" %>
                <%= image_tag "badge-14.png", width: 40, class: "tab", data: { type: category.name }  %>
              <% elsif category.name == "Food" %>
                <%= image_tag "badge-15.png", width: 40, class: "tab", data: { type: category.name }  %>
              <% elsif category.name == "Travail" %>
                <%= image_tag "badge-16.png", width: 40, class: "tab", data: { type: category.name }  %>
              <% elsif category.name == "Look" %>
                <%= image_tag "badge-17.png", width: 40, class: "tab", data: { type: category.name }  %>
              <% elsif category.name == "Love" %>
                <%= image_tag "badge-18.png", width: 40, class: "tab", data: { type: category.name }  %>
              <% end %>
            <% end %>
            <%= link_to "", questions_path(query: "#{category.name}"), class: 'category-card-link' %>
          </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="questions">
          <%= render "questions/question_cards" %>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="more-bottom"></div>
