<div class="top-dashboard">
  <div class="info-dashboard">
    <div class="photo-user">
      <%= cl_image_tag current_user.photo, class: 'avatar-bordered' %>
    </div>
    <div class="info-user">
      <h4>Hey <%= current_user.first_name %>, indécise ?</h4>
      <p>Tu as <strong style='color: black;'><%= @questions.size%></strong> indécisions en attente</p>
      <p>Heliast niveau XXXXX</p>
    </div>
  </div>
  <div class="banner-dashboard">
  </div>
</div>

<div class="bg-light">
  <div class="container">


    <div class="row">
      <div class="col-6">
      <div class='btn btn-add align-center'>
        <%= link_to "Nouvelle indécision", new_question_path %>
       </div>

        <p class="sortby">Trier par création deadline</p>
        <% @questions.each do |question| %>
        <div class="question-card">

          <div class="question-card <%= question.status %>">
            <div class="question-card-content">
              <span><p class="categorie">
                <% question.categories.each do |category|%>
                  <%= category.name %>
                <% end %></p></span>
              <%=  %>
              <span><p class="deadline"><%= question.deadline%></p></span>
              <h4><%= question.description%></h4>
              </div>
            <div class="question-card-status">
              <% if question.pending?
                status_message = 'En attente de décision...'
                status_progress = 35
              elsif question.answered?
                status_message = 'Décision reçue !'
                status_progress = 70
              elsif question.closed?
                status_message = 'Décision close.'
                status_progress = 100
              end %>

              <div class="wrapper">
                <div class="dots">
                  <span class="dot">?</span>
                  <span class="dot">...</span>
                  <span class="dot">!</span>
                  <span class="dot">V</span>
                </div>

                <div class="progress-bar">
                  <span class="progress-bar-fill" style="width: <%=status_progress.to_i%>%;"></span>
                </div>
              </div>


              <p class="info-status"><%=status_message%></p>

            </div>
          <%= link_to "", question_path(question), class: 'card-link' %>
        </div>
        </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
