<!--  On itere sur les différentes catégorie -->
<div class="categories-cards">
  <% Category.all.each do |category| %>
      <!--  Chaque itération est une card et a une classe -->
      <div class="category-card" style="background-image: url(<%= asset_path "#{category.name.downcase}.jpeg" %>); background-size: cover;">
        <span class="category-text"><%= category.name %></span>
      </div>
  <% end %>
</div>

<div class="bg-light">
  <div class="container">


    <div class="row">
      <div class="col-6">
        <p class="sortby">Trier par
          <%= link_to "création", questions_path(query: "created_at") %>
          <%= link_to "deadline", questions_path(query: "deadline") %>
          <br>
          <%= link_to "Look", questions_path(query: "1") %> |
          <%= link_to "Business", questions_path(query: "2") %> |
          <%= link_to "Food", questions_path(query: "3") %> |
          <%= link_to "Culture", questions_path(query: "4") %> |
          <%= link_to "Shopping", questions_path(query: "5") %> |
          <%= link_to "Love", questions_path(query: "6") %>
        </p>
        <div class="questions">
          <%= render "questions/question_cards" %>
        </div>
      </div>
    </div>

  </div>
</div>
