<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="form-post">
        <h1>Créer Indécision</h1>
        <div class="padding">
          <%= simple_form_for [@user, @question] do |f| %>
            <%= f.input :description, placeholder: "Exemple : Que porter aujourd'hui ?" %>
            <%= f.input :attente, as: :range %>
            <div class="category-choices">
              <%= f.association :category, as: :radio_buttons, :required => true, input_html: { class: 'category-choice' }, label: false %>
            </div>
            <%= f.input :type_resolution, collection: Question::STATUSES, prompt: "Type de Résolution",  label: false %>
        </div>
          <div class="form-group">
             <div class="fields">
              <%= f.simple_fields_for :options do |builder| %>
               <%= render "option_fields", :f => builder %>
             <% end %>
<!--              <i class="fa fa-plus plus"></i>
 --><!--              <p id="add-option"><%# link_to_add_fields "Add Option", f, :options %></p>
 -->             </div>
          </div>
        <%= f.submit "Créer indécision", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
