
<h5 style="color: white; text-align: center; margin-top: 1em;">Nouvelle indécision</h5>


    <div class="no-margin">
      <div class="form-post">


              <div class="progression-form text-center" style="margin-bottom: 1em;">
                <div class="dots-form">
                  <span class="dot-form turquoise" id="progress-partone"><i class="fa fa-pencil"></i></span>
                  <span class="bar-form" id= "bar-two">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <span class="dot-form" id="progress-parttwo"><i class="fa fa-th-list"></i></span>
                  <span class="bar-form" id="bar-three">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <span class="dot-form" id="progress-partthree"><i class="fa fa-check"></i></span>
                </div>

              </div>


          <%= simple_form_for [@user, @question] do |f| %>

            <div class="part-one">

              <div class="padding" style="margin-top: 2em;">
                <% if @question.errors.messages.present? %>
                  <%= @question.errors.messages %><br>
                <% end %>
                <p>Décris ton indécision*</p>
                <%= f.input :description, label: false, placeholder: "Exemple : Que porter aujourd'hui ?", :input_html => { class: 'text-area', :rows => 4 } %>

              </div>
                <div class="category-choices">
                  <p class="padding">Choisis ta catégorie*</p>
                <div>
                  <div class="choice-categories-cards">
                  <% Category.all.each do |category| %>
                      <div class="choice-category-card" data-choice="<%=category.id%>"style="background-image: url(<%= category.photo %>); background-size: cover;">
                        <span class="category-text"><%= category.name %></span>
                        <%= link_to "", class: 'category-card-link' %>
                      </div>
                  <% end %>
                </div>

              <%= f.input :category_id, as: :hidden, input_html: {:value => ""}%>
              </div>
            </div>
          <div class="text-center" style="margin-top: 1.5em; margin-bottom: 2.5em;">
            <div class='btn btn-add btn-partone' id="bouton-partone">
              Suivant
            </div>
            <br>
          </div>
            </div>
            <br>






          <div class="part-two hidden">
            <p class="padding" style="margin-top: 2em">Liste tes options possibles*</p>

            <div class="form-group">
               <div class="fields">
                <%= f.simple_fields_for :options do |builder| %>
                 <%= render "option_fields", :f => builder %>
               <% end %>
                <div class="plus-icon">
                   <i class="fa fa-plus plus"></i>
                   <span class="plus-ajouter">Ajouter une option</span>
                </div>
                 <p id="add-option" class="hidden"><%= link_to_add_fields "Add Option", f, :options %></p>
               </div>
            </div>
            <div class="text-center">
              <div class='btn btn-add btn-parttwo' id='bouton-parttwo'>
                Suivant
              </div>
            </div>
            <div class="more-bottom"></div>

          </div>

          <br>

          <div class="part-three hidden">
            <p class="padding" style="margin-top: -2em;">Choisis le mode de résolution*</p>



                  <!-- <div id='mode-un'> -->
                  <div class="mode text-center mode-listener" data-mode="Mode héliaste">
                    <div class="info-mode">
                      <%= image_tag("uni-heliast.png", size:"50x50")%>
                      <h5>Un Héliaste </h5>
                      <p>Un seul membre d'Heliast prendra la décision pour toi !</p>
                    </div>
                  </div>
                  <!-- </div> -->

                  <!-- <div id="mode-deux"> -->
                  <div class="mode text-center mode-listener" data-mode="Mode Démocratie">
                      <div class="info-mode">
                        <%= image_tag("heliast-multi.png", size:"80x42")%>
                    <h5>Multi Héliastes </h5>
                    <p>Tous les membres pourront voter pour la décision à prendre.</p>
                    </div>
                  </div>
                  <!-- </div> -->

                <div class="range-attente">
                  <p class="ma-reponse hidden" style="text-align: center;">Dans combien d'heure(s) veux-tu la décision ?</p>



                  <div class="slider-attente">
                    <%= f.input :attente, as: :range, label: false, input_html: { min: '1', max: '24', class: 'attente hidden' } %>
                  </div>
                </div>


            <%= f.input :type_resolution, as: :hidden, input_html: { class: 'resolution' }%>

              <div class="envoie">
              <%= f.button :button, "J'envoie".html_safe, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Envoi..."}, class: "btn btn-add" %>
            </div>
          <% end %>
          <div class="more-bottom"></div>

      </div>

          </div>

        </div>
         <br>
        <br>



