<div class="container">
  <div class="indecision_form">
    <h1>Indécision</h1>
    <p>Description: <%= @question.description %> </p>
    <p>Deadline: <%= @question.deadline %> </p>
    <p>Categorie: <%= @question.categorie %> </p>
    <p>Type de résolution: <%= @question.type_resolution %> </p>
  </div>
  <div class="options">
    <% @question.options.each do |option| %>
      <%= "#{option.titre}" %></br>
      <%= cl_image_tag option.photo, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
</div>

<%= link_to "Edit", edit_question_path(@question) %>
<%= link_to "Destroy", question_path(@question), method: :delete %>
