<div class="flex-parent" style="margin-left: 1em; margin-right: 1em;">
  <div class="indecision-card">

    <div class="top-card top-<%= @question.status %> text-center">
      <%if @question.user == current_user %>
        <%= @status_message%>
      <%else%>
        <%= @status_heliast%> <%= @question.user.pseudo%> !
      <%end%>
    </div>

    <div class="indecision-contenu text-center">
      <% already_answered = false %>
      <% @question.answers.each do |answer| %>
        <% if answer.user == current_user %>
          <% already_answered = true %>
        <% end %>
      <% end %>
      <span><p class="categorie"><%= @question.category.name.upcase %></p></span>
      <h4 style="padding: 0.5em;">
        <%= link_to question_path(@question), class: 'no-link' do %>
        <%= @question.description %>
        <%end%>
      </h4>

      <%if @question.user == current_user && @question.answers.present? == false %>
        <p style="color: gray; margin-bottom: 2em; ">Voici tes hésitations :</p>
      <%elsif @question.user != current_user %>
        <% if @question.type_resolution == "Mode héliaste" && @question.pending? %>
          <p style="color: gray; margin-bottom: 2em; ">Choisis parmi ces options :</p>
        <% elsif @question.type_resolution == "Mode Démocratie" && @question.status != "closed" && already_answered == false %>
          <p style="color: gray; margin-bottom: 2em; ">Choisis parmi ces options :</p>
        <% end %>
      <%elsif @question.answered?%>
        <p style="color: gray; margin-bottom: 2em; padding-left: 1em; padding-right: 1em; "> Un héliaste a fait ce choix pour <%= @question.user.pseudo%> : </p>
      <%end%>

    </div>


    <!-- Ceci est l'affichage des options -->
    <% option_affichee = false %>
    <% if current_user == @question.user %>
      <% if @question.type_resolution == "Mode héliaste" %>
        <% if @question.pending? %>
          <% option_affichee = true %>
        <% end %>
      <% elsif @question.type_resolution == "Mode Démocratie" %>
        <% if @question.answers.present? == false %>
          <% option_affichee = true %>
        <% end %>
      <% end %>
    <% else %>
      <% if @question.type_resolution == "Mode héliaste" && already_answered == false %>
        <% if @question.pending? %>
          <% option_affichee = true %>
        <% end %>
      <% elsif @question.type_resolution == "Mode Démocratie" && already_answered == false %>
        <% if @question.status != "closed" %>
          <% option_affichee = true %>
        <% end %>
      <% end %>
    <% end %>
    <% if @answer && @answer.errors.messages.key?(:option) %>
      <% option_affichee = true %>
    <% end %>

    <% if option_affichee == true %>
      <%= render "options_show" %>
    <% end %>

    <%if @question.user == current_user && @question.answers.present? == false %>
      <p class="text-center" style="color: gray; margin-bottom: 2em; ">Un Héliaste va décider pour toi...</p>
    <%end%>

  <!-- Création d'une réponse -->
  <% hide_answer_creation = false %>
  <!-- Création d'une réponse cachée pour l'indécis -->
  <% if current_user == @question.user %>
      <% hide_answer_creation = true %>
  <% end %>
  <!-- Création d'une réponse cachée pour un héliaste ayant déjà répondu -->
  <% @question.answers.each do |answer| %>
    <% if answer.user == current_user %>
      <% hide_answer_creation = true %>
    <% end %>
  <% end %>
  <!-- Création d'une réponse cachée si type résolution = mono héliaste et qu'il y a déjà une réponse -->
  <% if @question.type_resolution == "Mode héliaste" && @question.answers.present? %>
      <% hide_answer_creation = true %>
  <% end %>
  <% if @question.type_resolution == "Mode Démocratie" && @question.status == "closed" %>
      <% hide_answer_creation = true %>
  <% end %>
  <% if hide_answer_creation == false %>
    <div class="indecision-card answer-creation hidden">
        <div class="create-answer">
          <p class="text-center" style="color: gray; padding-top: 1em; ">Ajoute un commentaire :</p>
          <div class="form-commentaire text-center" style="padding: 1em;">
            <%= render "answers/new" %>
          </div>
        </div>
    </div>
  <% end %>

  </div>
  <!-- Partial : affichage de l'histogramme des réponses pour un mode de résolution "Multi Héliastes-->
  <% if @question.type_resolution == "Mode Démocratie" %>
    <% if @question.answers.present? %>
      <%= render "answers/multiheliast" %>
    <% end %>
  <% end %>
  <!-- Partial : affichage de la réponse pour un mode de résolution "Mono Héliastes-->
  <% if @question.type_resolution == "Mode héliaste" %>
    <% if @question.answers.present? %>
      <div class="flip-btn">
        <label for="flip-control" class="btn btn-add flip" style="width: 5em;">
          <div class="div-btnrep add-turquoise"><i class="fa fa-check"></i></div>
          <div class="div-btnopt">
          <i class="fa fa-th-list"></i>
          </div>

        </label>
      </div>
      <input type="checkbox" id="flip-control">
      <div class="answer-show">
        <% if @question.type_resolution == "Mode héliaste" %>
          <%= render "answers/monoheliast" %>
        <% end %>
      </div>
      <div class="indecision-card hidden options-show">
        <h4>Les options possibles</h4>
        <%= render "options_show" %>
      </div>
    <% end %>
  <% end %>

  <% if @question.answers.present? %>
  <div class="indecision-card sat-parent" style="margin-bottom: 1em; text-align: center;">
      <% if @question.answers.present? && (@question.answers.first.created_at + 0.hours) < DateTime.now %>
        <% if @question.satisfied_by_recommended_option == nil && current_user == @question.user %>
        <h6 style="color:#24d6d6; padding-top: 1em;">Alors, c'était un bon choix ?</h6>
        <div class="satisfaction">
          <div class="satisfied"><%= link_to question_path(@question, question: {satisfied_by_recommended_option: true, status: :closed}), method: :patch do %>
            <i class="fa fa-thumbs-up"></i>
          <% end %>
          </div>
          <div class="not-satisfied">
            <%= link_to question_path(@question, question: {satisfied_by_recommended_option: false, status: :closed}), method: :patch do %>
                <i class="fa fa-thumbs-down"></i>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="resultat-sat" style="text-align: center;">
        <% if @question.satisfied_by_recommended_option != nil %>
          <h6 style="color:#24d6d6; padding-top: 1em;">Ce que <%=@question.user.pseudo %> en a pensé :</h6>
          <% if @question.satisfied_by_recommended_option == true %>
            <i style="padding-left: 0em;"class="fa fa-thumbs-up"></i>
          <% end %>
          <% if @question.satisfied_by_recommended_option == false %>
            <i style="padding-left: 0em;"class="fa fa-thumbs-down"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>

<div class="more-bottom"></div>
