<div class="row">

  <div class="col-4">
    <div class="no-score text-center">
      <%= image_tag "cross-20.png", width: 20, class: 'cross' %>
        <h5>Retrouve tous tes badges gagnés ici !</h5>
        </div>
    <div class="list-badges">
      <div class="bdge badge-look">
        <% if @score_look > 1000 %>
          <%= image_tag "badge-05.png", width: 50 %>
        <%else%>
          <%= image_tag "badge-11.png", width: 50, class:'no-badge' %>
        <%end%>
        <h6>Look</h6>
        <% if @score_look.to_i < 1000 %>
          <p><%=@score_look%>/1000</p>
        <% else %>
          <p><%=@score_look%> pts</p>
        <% end %>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= @score_look/10 %>%;" aria-valuenow="<%= @score_look/10 %>" aria-valuemin="0" aria-valuemax="100"><%= @score_look/10 %>%</div>
          </div>
      </div>
      <div class="bdge badge-food">
        <% if @score_food > 1000 %>
          <%= image_tag "badge-03.png", width: 50 %>
        <%else%>
          <%= image_tag "badge-09.png", width: 50, class:'no-badge' %>
        <%end%>
        <h6>Food</h6>
        <% if @score_food.to_i < 1000 %>
          <p><%=@score_food%>/1000</p>
        <% else %>
          <p><%=@score_food%> pts</p>
        <% end %>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= @score_food/10 %>%;" aria-valuenow="<%= @score_food/10 %>" aria-valuemin="0" aria-valuemax="100"><%= @score_food/10 %>%</div>
          </div>
      </div>
      <div class="bdge badge-culture">
        <% if @score_culture > 1000 %>
          <%= image_tag "badge-01.png", width: 50 %>
        <%else%>
          <%= image_tag "badge-07.png", width: 50, class:'no-badge' %>
        <%end%>
        <h6>Culture</h6>
        <% if @score_culture.to_i < 1000 %>
          <p><%=@score_culture%>/1000</p>
        <% else %>
          <p><%=@score_culture%> pts</p>
        <% end %>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%= @score_culture/10 %>%;" aria-valuenow="<%= @score_culture/10 %>" aria-valuemin="0" aria-valuemax="100"><%= @score_culture/10 %>%</div>
        </div>
      </div>
    </div>
    <div class="list-badges">
      <div class="bdge badge-work">
        <% if @score_achats > 1000 %>
          <%= image_tag "badge-02.png", width: 50 %>
        <%else%>
          <%= image_tag "badge-08.png", width: 50, class:'no-badge' %>
        <%end%>
        <h6>Achats</h6>
        <% if @score_achats.to_i < 1000 %>
          <p><%=@score_achats%>/1000</p>
        <% else %>
          <p><%=@score_achats%> pts</p>
        <% end %>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%= @score_achats/10 %>%;" aria-valuenow="<%= @score_achats/10 %>" aria-valuemin="0" aria-valuemax="100"><%= @score_achats/10 %>%</div>
        </div>
      </div>
      <div class="bdge badge-work">
        <% if @score_travail > 1000 %>
          <%= image_tag "badge-04.png", width: 50 %>
        <%else%>
          <%= image_tag "badge-10.png", width: 50, class:'no-badge' %>
        <%end%>
        <h6>Travail</h6>
        <% if @score_travail.to_i < 1000 %>
          <p><%=@score_travail%>/1000</p>
        <% else %>
          <p><%=@score_travail%> pts</p>
        <% end %>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%= @score_travail/10 %>%;" aria-valuenow="<%= @score_travail/10 %>" aria-valuemin="0" aria-valuemax="100"><%= @score_travail/10 %>%</div>
        </div>
      </div>
      <div class="bdge badge-love">
        <% if @score_love > 1000 %>
          <%= image_tag "badge-06.png", width: 50 %>
        <%else%>
          <%= image_tag "badge-12.png", width: 50, class:'no-badge' %>
        <%end%>
        <h6>Love</h6>
        <% if @score_love < 1000 %>
          <p><%=@score_love%>/1000</p>
        <% else %>
          <p><%=@score_love%> pts</p>
        <% end %>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%= @score_love/10 %>%;" aria-valuenow="<%= @score_love/10 %>" aria-valuemin="0" aria-valuemax="100"><%= @score_love/10 %>%</div>
        </div>
      </div>
    </div>
  </div>
</div>
