<div class="top-dashboard">
  <div class="info-dashboard">
    <div class="photo-user">
      <%= cl_image_tag @user.photo, class: 'avatar-bordered' %>
    </div>
    <div class="info-user">
      <h4>Hey <%= @user.first_name %>, indécise ?</h4>
      <p>Tu as <%= @user.questions.size%> indécisions<br/>
      dont <strong style='color: black;'><%= @user.questions.pending.size%></strong> en attente.</p>
      <p>Heliast niveau XXXXX</p>
    </div>
  </div>
  <div class="banner-dashboard">
  </div>
</div>

<div class="bg-light">
  <div class="container">


    <div class="row">
      <div class="col-6">
      <div class='btn btn-add'>
        <%= link_to "Nouvelle indécision", new_question_path %>
       </div>
        <p class="sortby">Trier par
          <%= link_to "création", questions_path(query: "created_at") %>
          <%= link_to "deadline", questions_path(query: "deadline") %>
        </p>
        <div class="questions">
          <%= render "questions/question_cards" %>
        </div>
      </div>
    </div>

  </div>
</div>
