<div class="top-dashboard">
  <div class="settings">
      <div class="dropdown">
              <i class="fa fa-cog dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="opacity: 0.8;"></i>
              <ul class="dropdown-menu dropdown-menu-right dropdown-menu footer-wagon-dropdown-menu" aria-labelledby="dLabel">
                <li><a href="#">A propos de Heliast</a></li>
                <li><a href="#">Aide</a></li>
                <li><a href="#">Politique de confidentialité</a></li>
                <li><a href="#">Paramètres</a></li>
                <li><%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Se déconnecter") %>
                <% end %></li>
              </ul>
            </div>
    </div>
  <div class="info-dashboard">
    <div class="photo-user">
      <%= link_to user_path(current_user) do %>
        <% if current_user.photo.present? %>
          <%= cl_image_tag @user.photo, class: 'avatar-bordered' %>
            <!-- User online -->
            <% if @user.current_sign_in_at? %>
              <!-- pastille verte -->
              <div class="online"></div>
            <% else %>
              <!-- pastille rouge -->
              <div class="offline"></div>
            <%end%>
        <% else %>
          <%= image_tag('https://www.limestone.edu/sites/default/files/user.png', class: "avatar-bordered") %>
          <!-- User online -->
            <% if @user.current_sign_in_at? %>
              <!-- pastille verte -->
              <div class="online"></div>
            <% else %>
              <!-- pastille rouge -->
              <div class="offline"></div>
            <%end%>
        <%end%>
      <%end%>
    </div>
    <div class="info-user">
      <h4>Hey <%= @user.pseudo %>, indécis(e) ?</h4>
      <p>Tu as <%= @user.questions.size%> indécisions<br/>
      dont <strong style='color: black;'><%= @user.questions.pending.size%></strong> en attente.</p>
      <div class="tip-score"'>
        <p><%=  @score %> pts</p>
      </div>
    </div>
  </div>
  <div class="banner-dashboard">
        <div class="open-badge">
      <div class="btn btn-trophy" id="trophy"><%= image_tag "trophy.png", width: 30 %></div>
    </div>
  </div>
</div>
<div class="badges hidden" id="trophies">
  <%= render "users/badges" %>
</div>

<div class="bg-light">
  <div class="" style="margin-left: 1em; margin-right: 1em;">


    <div class="row">
      <div class="col-6">
        <div class="top-col">
          <div class='btn btn-add'>
            <%= link_to "Nouvelle indécision", new_question_path %>
          </div>
        </div>

        <p class="sortby hidden">Trier par
          <%= link_to "Date de création", user_path(query: "created_at") %> |
          <%= link_to "Urgence", user_path(query: "deadline") %> |
          <%= link_to "Populaire", user_path(query: "populaire") %>
        </p>
        <div class="questions">
          <%= render "questions/my_questions" %>
        </div>
      </div>
    </div>

  </div>
    <div class="fin-show">
    <%= image_tag("indecise.png", size:"50x50")%>
  </div>
<div class="more-bottom"></div>
</div>
