<div class="top-dashboard">
  <div class="info-dashboard">
    <div class="photo-user">
      <%= link_to user_path(current_user) do %>
        <% if current_user.photo.present? %>
          <%= cl_image_tag @user.photo, class: 'avatar-bordered' %>
        <% else %>
          <%= image_tag('https://www.limestone.edu/sites/default/files/user.png', class: "avatar-bordered") %>
        <%end%>
      <%end%>
    </div>
    <div class="info-user">
      <h4>Hey <%= current_user.pseudo %>, indécis(e) ?</h4>
      <p>Tu as <%= @user.questions.size%> indécisions<br/>
      dont <strong style='color: black;'><%= @user.questions.pending.size%></strong> en attente.</p>
      <h4 style='color:black;'> Score heliast : <%=  @score %></h4>
    </div>
  </div>
  <div class="banner-dashboard">
        <div class="open-badge">
      <div class="btn btn-trophy" id="trophy"><%= image_tag "trophy.png", width: 30 %></div>
    </div>
  </div>
</div>
<div class="badges hidden" id="trophies">
  <%= render "users/badges" %>
</div>

<div class="bg-light">
  <div class="container">


    <div class="row">
      <div class="col-6">
        <div class="top-col">
          <div class='btn btn-add'>
            <%= link_to "Nouvelle indécision", new_question_path %>
          </div>
        </div>
        <p class="sortby">Trier par
          <%= link_to "Date de création", user_path(query: "created_at") %> |
          <%= link_to "Urgence", user_path(query: "deadline") %> |
          <%= link_to "Populaire", user_path(query: "populaire") %>
        </p>
        <div class="questions">
          <%= render "questions/my_questions" %>
        </div>
      </div>
    </div>

  </div>
</div>
