<div class="indecision-card">
  <div class="inner">
    <div class="histo">
      <% total_answers = @question.answers.count %>
      <h5 class="text-center"><strong style="color: #E5406E;"><%= total_answers %></strong> héliastes ont voté</h5>
      <% @question.options.each do |option| %>
      <div class="option-tovote">
      <% if option.photo.present? %>

        <div class="picture-vote">
          <%= cl_image_tag option.photo, class: "mini-picture" %></div>
          <div class="info-option-tovote">
        <% if option.titre.present? %>
          <div class="four histo-rate">
            <div class="bar-block">
              <div class="">
                <div class=""><%= option.titre %></div>

                <% end %>
                <div class="">
                  <div id="bar" class= "option1" style="width: <%= option.answers.count.fdiv(total_answers) * 100 %>%">
                    <%= (option.answers.count.fdiv(total_answers) *100).round(0) %>%
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
        </div>
      <% end %>
    </div>

    <h5>Commentaires :</h5>
  </div>
  <div class="commentaires">
    <%  @question.answers.each do |answer| %>
      <div class="commentaire">
        <div class="commentaire-img">
          <% if answer.user.photo.present? %>
            <%= cl_image_tag answer.user.photo, crop: :fill, class: 'avatar-large' %>
          <% else %>
            <%= image_tag('https://www.limestone.edu/sites/default/files/user.png', class: 'avatar-large') %>
          <% end %>
        </div>
        <div class="commentaire-content">
          <strong><%= answer.user.pseudo %></strong><br>
          <span class="option-commentaire"><%= answer.option.titre%></span><br>
          <%= answer.reponse %>
        </div>
      </div>
    <% end %>
  </div>
</div>
