<div class="indecision-card">
  <div class="inner">
    <div class="histo">
      <% total_answers = @question.answers.count %>
      <h5><%= "Réponses apportées : #{total_answers}" %></h5>
      <% @question.options.each do |option| %>
        <% if option.titre.present? %>
          <div class="four histo-rate">
            <div class="bar-block">
              <div class="row">
                <div class="col-xs-2"><%= option.titre %></div>
                <% if option.photo.present? %>
                  <div class="col-xs-2"><%= cl_image_tag option.photo, class: "mini-picture" %></div>
                <% end %>
                <div class="col-xs-8">
                  <div id="bar" class= "option1" style="width: <%= option.answers.count.fdiv(total_answers) * 100 %>%">
                    <%= (option.answers.count.fdiv(total_answers) *100).round(0) %>%
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <h5>Commentaires :</h5>
  </div>
  <div class="commentaires">
    <%  @question.answers.each do |answer| %>
      <div class="commentaire">
        <div class="commentaire-img">
          <% if answer.user.photo.present? %>
            <%= cl_image_tag answer.user.photo, crop: :fill, class: 'avatar-large' %>
          <% else %>
            <%= image_tag('https://www.limestone.edu/sites/default/files/user.png', class: 'avatar-large') %>
          <% end %>
        </div>
        <div class="commentaire-content">
          <strong><%= answer.user.pseudo %></strong>
          <span class="option-commentaire"><%= answer.option.titre%></span>  <br>
          <%= answer.reponse %>
        </div>
      </div>
    <% end %>
  </div>
</div>
