  <div class="winner">
<% if @users.present? %>
    <%= cl_image_tag @users[1].photo, class: "avatar-bordered avatar-classement" %>
    <p><%= @users[1].pseudo %></p>
    <div class="number2">
      <h5 style="color: white; text-align: center;">2</h5>
    </div>
  </div>

  <div class="winner">

    <%= cl_image_tag @users[0].photo, class: "avatar-bordered avatar-classement" %>
    <p><%= @users[0].pseudo %></p>
    <div class="number1">
      <h5 style="color: white; text-align: center;">1</h5>
      <% if @category != nil %>
        <% if @category.name == "Culture" %>
          <%= image_tag "badge-01.png", width: 40 %>
        <% elsif @category.name == "Achats" %>
          <%= image_tag "badge-02.png", width: 40 %>
        <% elsif @category.name == "Food" %>
          <%= image_tag "badge-03.png", width: 40 %>
        <% elsif @category.name == "Travail" %>
          <%= image_tag "badge-04.png", width: 40 %>
        <% elsif @category.name == "Look" %>
          <%= image_tag "badge-05.png", width: 40 %>
        <% elsif @category.name == "Love" %>
          <%= image_tag "badge-06.png", width: 40 %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="winner">
    <%= cl_image_tag @users[2].photo, class: "avatar-bordered avatar-classement" %>
    <p><%= @users[2].pseudo %></p>
    <div class="number3">
      <h5 style="color: white; text-align: center;">3</h5>
    </div>
<% end %>
  </div>

