<!-- Bloc a activer si on veut afficher la liste de notifs dans la page historique  -->

<div class="notif-back <%= "unread" if !notification.read_at? %>">
  <div class="line-notif row.no-gutters">

        <!-- colone avatar -->
        <div class="col-xs-3.no-gutters" style="margin-left: 0; text-align: left; width: 4em;">
          <% if notification.actor.photo.present? %>
              <%= cl_image_tag notification.actor.photo, class: "avatar-notif-bordered" %>
          <% else %>
              <%= image_tag('https://www.limestone.edu/sites/default/files/user.png', class: "avatar-notif-bordered") %>
          <%end%>
        </div>

        <!-- colone message notification -->
        <div class="col-xs-6.no-gutters" style="text-align: left; width: 15em;">
          <%= link_to question_path(notification.notifiable.option.question) do %>
            <%= notification.actor.pseudo %>
            <%= notification.action %> à ton indécision
          <% end %>
          <p style="text-align: left!important;"><span class="time">Il y'a 1h</span></p>
        </div>

        <!-- colone icone show more -->
        <div class="col-xs-3.no-gutters" style="float: right; text-align: center;">
            <i class="fa fa-ellipsis-h" style="color: #9a888e;"></i>
        </div>
  </div>
</div>


<!-- TODO Bloc pour faire un lien sur la div global, css déjà en place mais ne fonctionne pas -->

<!-- TODO <%= link_to "", question_path(notification.notifiable.option.question), class: 'notif-link-div' %> -->

<!-- Bloc a décommenter si on veut afficher la liste de notifs dans menu déroulant  -->

<!-- <li>
  <%= link_to question_path(notification.notifiable.option.question), class: "dropdown-item #{"unread" if !notification.read_at?}" do %>
    <%= notification.actor.pseudo %>
    <%= notification.action %> à ta question
  <% end %>

</li> -->
